/GeneralLibs/Nueva carpeta/ExamCowPinza/target/
/Exam/TestAplicationStrategy/build/
/Exam/TestAplicationStrategy/nbproject/private/
/Exam/connections/build/
/Exam/connections/dist/
/Exam/connections/nbproject/private/
/PracticeQuestion/PracticeExam/nbproject/private/
/PracticeQuestion/PracticeExam/build/
